/**********************************
BODY
***********************************/

body{
  background: #131313;

}

.content{
  width: 100%;
  text-align: center;
}

.game-area{
  position: absolute;
  width: 740px;
  background: black;
  top: 50%;
  right: 50%;
  transform: translate(54%, -50%);
}

h1{
  color: yellow;
  margin: 5% auto;
  margin-left: 4.5%;
}





/**********************************
FOOTER
***********************************/
footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 97%;
  height: 60px;
  background-color: black;
  font-size: 1em;
  text-align: center;
  color: #ccc;
  padding: 2%;

}

.social-icon{
 width: 35px;
 height: 35px;
 margin: 0px 5px;
 color: gray;
}

.social-icon:hover{
  opacity: 0.7;
}
